<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>expression-language</display-name>
  
   <context-param>
   		<description>
   			Contar o tempo de execução onde estamos no ciclo de vida do desenvolvimento do projeto. 
   			Os valores válidos são: Development, Unit Test, System Test, or Production. 
   			O tempo de execucao ira exibir dicas uteis para corrigir erros comuns quando o valor for "Development".
   		</description>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
  
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  
  <session-config>
  	<session-timeout>30</session-timeout>
  </session-config>
  
  <welcome-file-list>
  	<welcome-file>index.xhtml</welcome-file>
  </welcome-file-list>
  
</web-app>